.App {
    position: relative;
    margin: 10px auto;
    display: block;
    width: 100%;
    background: darkgrey;
    border: black solid 5px;
    overflow: scroll;
    transform: scale();
}

.test {
    border: black solid 5px;
    margin: 10px auto;
    width: 90%;
    height: 100vh;
}

.node__root > circle {
    fill: red;
}

.node__branch > circle {
    fill: yellow;
}

.rd3t-label {
    border: 2px cyan solid;
}

.node__leaf > circle {
    fill: green;
    /* Let's also make the radius of leaf nodes larger */
    r: 40;
}

.test2 {
    border: black solid 5px;
    margin: 10px auto;
    width: 90%;
    height: 100vh;
}

/*.storm {*/
/*    border: black solid 5px;*/
/*    margin: 10px auto;*/
/*    width: 90%;*/
/*    height: 100vh;*/
/*}*/
